
* { border: 0; margin: 0; padding: 0; box-sizing: border-box; }
html { position: relative; min-height: 100%; }

body { 
    // background: url(/images/blakeBG.jpg) repeat $bg-color;
    background-color: $bg-color;
    color: $text-color; 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}



h1, h2, h3, h4, h5, h6 { 
    font-family: 'futura';
}

header { background-color: $bg-color; }

// nav {

// }

main { 
    padding: 12px 20px; 
    // background: url(/images/blakeBG.jpg) no-repeat;
}

#landingPage{
    // background: url(/images/blakeBG.jpg) no-repeat;
    background: cover;
    height: 100vh;
}

.hero-image {
    z-index: -1;

    -webkit-animation: fadein 4s, slidein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s, slidein 5s; /* Firefox < 16 */
     -ms-animation: fadein 4s, slidein 5s; /* Internet Explorer */
      -o-animation: fadein 4s, slidein 5s; /* Opera < 12.1 */
         animation: fadein 4s, slidein 5s;
    // -webkit-transition: opacity 2s ease-in;
    // -moz-transition: opacity 2s ease-in;
    // -o-transition: opacity 2s ease-in;
    // -ms-transition: opacity 2s ease-in;
    // transition: opacity 2s ease-in;
    // background-image: url("/images/blakeBG.png"); /* The image used */
    opacity: 0.1;
    background-color: transparent; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    // background-position: center; /* Center the image */
    position: absolute;
    top: 10%;
    width: 100%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.1; }
}

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

footer { 
    // background-color: $bg-color; 
    // position: absolute; 
    // bottom: 0; 
    width: 100%; 
    // height: 50px;
    text-align: center;
    // padding-top: 1rem;
}

#favs { text-align: center; margin-top: 20px; }

.hero-container { 
    // border-radius: 1rem; 
    overflow: hidden; 
    display: inline-block; 
    text-align: center;
    margin: 0 12px 20px;
    border: 2px solid white;
    background: $bg-color;

    img { width: 100%; }

    h3 { font-size: 1.5rem; padding: 8px;}
}

.hero-container:last-of-type { margin-bottom: 120px; }

.marvel-logo { 
    width: 200px; 
    position: absolute; 
    bottom: 40px; 
    z-index: -1; 
    left: 0; 
    right: 0; 
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1032px) {
    .hero-container:last-of-type { margin-bottom: 20px; }
}

.authName{
    font-size: 4vw;
}

.pageName{
    font-size: 6vw;
}